- var production = false;
- var jQuery = true;
- var jQueryUI = false;

//--------------------------------------------------------------forms
- var default_field = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod', elem_class:'default_mod'}
- var default_field_hidden = {block_class_mod:'form_cell_v1_mod',class_mod:'form_v1_mod hline_hide_mod', elem_class:'default_mod'}
- var default_checkbox = {block_class_mod:'check_1_mod',class_mod:'check_1_mod', elem_class:'check_1_mod'}
- var default_radio = {block_class_mod:'radio_1_mod',class_mod:'radio_1_mod', elem_class:'radio_1_mod'}

//--------------------------------------------------------------forms
- var MenuArray = {items:[{title:'Россия',mod:'russia',active:false},{title:'Европа',mod:'europe',active:false},{title:'Азия',mod:'asia',active:false},{title:'Африка',mod:'africa',active:false},{title:'Южная Америка',mod:'s_america',active:false},{title:'Северная Америка',mod:'n_america',active:false},{title:'Океания',mod:'oceania',active:false}],mod:''}

-var footerMenuArray = {items:[{title:'Россия',active:false},{title:'Европа',active:false},{title:'Азия',active:false},{title:'Африка',active:false},{title:'Южная Америка',active:false},{title:'Северная Америка',active:false},{title:'Океания',active:false}],mod:'footer_mod'}

-var socials = ['vk', 'fb', 'ok', 'tw']