//------------------------------------------------------------base styles
html {
	height: 100%;
	font: 400 10px/1.33 $font_1;
}

body {
	position: relative;
	height: 100%;
	font-size: $font_size_base;
	color: $color_text_base;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url(/i/bg.jpg);
	background-size: cover;
	overflow-x: hidden;
}

.wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	width: $page_width;
	margin: 0 auto;
	overflow: hidden;
}

.base {
	position: relative;
	padding: 0 0 $height_footer 0;
}

.main {
	width: 100%;
	@extend %global_flex_block_row_wrap_flex-start;
	background: $white;
}

a {
	text-decoration: none;
	color: $color_link_base;
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.img {
	display: block;
	width: 100%;
	height: auto;
}

.elements_list {
	padding: 3rem;
}

//------------------------------------------------------------base styles###