//-------------------------------------------------------inputs and selects
%form_field_default {
	display: block;
	width: 100%;
	height: $input_height;
	padding: $input_offset;
	font-size: $input_font_size;
	font-family: $font_1;
	color: $input_text_color;
	border: 1px solid transparent;
	//border-radius: $input_radius;

	&::-webkit-input-placeholder {
		color: $input_placeholder_color;
	}

	&::-moz-placeholder {
		color: $input_placeholder_color;
	}
	&:-ms-input-placeholder {
		color: $input_placeholder_color;
	}
}

%form_field_default_hover {
}

%form_field_default_active {
	border: 1px solid transparent;
}

.form_cell {
	&.hidden_field {
		display: none;
	}

	&.form_cell_v1_mod {
		@extend %global_flex_block_row_nowrap_flex-start;
	}
}

.form_cell_title {

	&.hline_hide_mod {
		display: none;
	}
	&.form_v1_mod {
	}
}

.form_field_wrap {
	position: relative;

	&.form_v1_mod {
		@extend %global_flex_block_row_nowrap_flex-start;
	}
}

.form_field:not(.select_rediz_coosen) {
	&.default_mod {
		@extend %form_field_default !optional;

		&:focus {
			@extend %form_field_default_active !optional;
		}

		&:hover {
			@extend %form_field_default_hover !optional;
		}

		&.textarea_mod_1 {
		}
	}
	&.mail_mod {
		padding-left: 5.5rem;
	}
}

//-------------------------------------------------------inputs and selects###

.form_search {
	padding: 0 0 0 3rem;
	@extend %global_flex_block_row_nowrap_flex-start_center;
}

.search_btn {
	@extend %blue_btn_2;
	@extend %btn_size_3;
	font-size: 1.7rem;
	text-transform: uppercase;

	&.more_mod {
		@extend %blue_btn_3;
		text-transform: none;
		font-size: 1.3rem;
	}
}

.subscribe_btn {
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
	@extend %blue_btn_1;
	@extend %btn_size_1;
	&:before {
		position: absolute;
		top: 50%;
		left: -1rem;
		height: 1rem;
		width: 1rem;
		transform: translateY(-50%);
		content: '';
		@include triangle(left, $color_link_base, 0.5rem);
	}
}

.icon-mail {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 2rem;
}