extends _layout
include templates/_global_mixins
include templates/_global_vars
include templates/_project_mixins
include templates/_project_vars
block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Discovery'}
block content_block
	main.main
		.content
			section.section.place_mod
				+place_menu([
					{name: 'flag'},
					{
						name: 'star', events: [
						{event: 'Событие 1', url: '#'},
						{event: 'Событие 2', url: '#'}
					]
					},
					{
						name: 'eye', events: [
						{event: 'Событие 3', url: '#'}
					]
					},
					{
						name: 'star', events: [
						{event: 'Событие 1', url: '#'},
						{event: 'Событие 2', url: '#'},
						{event: 'Событие 3', url: '#'}
					]
					},
					{name: 'camera'},
					{name: 'location'},
				])
				.place_wrap
					figure.place_image
						img.img(src='i/places/berlin.jpg')
						figcaption.place_caption
							h2.title.place_mod Берлин
							.section_desc
								p Духовные ценности и менталитет европейцев
					.place_desc
						p Состав воды в Кулундинском озере приближён к океанической воде. Так что купаясь в этом озере, вы осуществляете самую настоящую талассотерапию — лечение купанием в морской воде, когда организм сам, естественным образом, берет из воды недостающие ему минералы и микроэлементы и даже биологически активные вещества. Так что купаясь в этом озере, вы осуществляете. самую/настоящую
						p Состав воды в Кулундинском озере приближён к океанической воде. Так что купаясь в этом озере, вы осуществляете самую настоящую талассотерапию — лечение купанием в морской воде, когда организм сам, естественным образом, берет из воды недостающие ему минералы и микроэлементы и даже биологически активные вещества. Так что купаясь в этом озере, вы осуществляете. самую/настоящую
						p Состав воды в Кулундинском озере приближён к океанической воде. Так что купаясь в этом озере, вы осуществляете самую настоящую талассотерапию — лечение купанием в морской воде, когда организм сам, естественным образом, берет из воды недостающие ему минералы и микроэлементы и даже биологически активные вещества. Так что купаясь в этом озере, вы осуществляете. самую/настоящую
						p Состав воды в Кулундинском озере приближён к океанической воде. Так что купаясь в этом озере, вы осуществляете самую настоящую талассотерапию — лечение купанием в морской воде, когда организм сам, естественным образом.
						a.more_btn.place_mod(href='#') Читать полностью

				.place_info_wrap
					.place_info_block
						h4.title.info_mod Достопримечательности:
						+link_list(['Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)'], 'info')
					.place_info_block
						h4.title.info_mod Развлечения:
						+link_list(['Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)', 'Музей(32)', 'Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)'], 'info')
					.place_info_block
						h4.title.info_mod Отели:
						+link_list(['Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)', 'Музей(32)','Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)', 'Музей(32)','Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)', 'Музей(32)', 'Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)'], 'info')
					.place_info_block
						h4.title.info_mod Рестораны и кафе:
						+link_list(['Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)'], 'info')
			//------------------------------------------------ ##content

			section.section.dark_mod
				h2.title: <strong>Последнее</strong> добавленное (всего 32)
				.recent_wrap
					+loop_while(8)
						article.post.recent_mod
							.post_date
								+icon('calendar-o', 'recent_mod')
								span.post_d_day 28
								span.post_d_month Ноября
								span.post_d_year 2014
							h2.post_title Красота Алтая в сентябре
							.post_tags Место: &nbsp;
								ul.tags_list
									li.tags_item
										a.tags_link(href='#') Россия
									li.tags_item
										a.tags_link(href='#') Алтай
									li.tags_item
										a.tags_link(href='#') Белокуриха
							.post_author
								.author_i_wrap
									img(src='i/avatar.jpg')
								.author_name
									span.firstname Иннокентий
									span.lastname Смактуновский
							.post_desc
								p Непридуманные истории настоящих путешественников, кадры, не требующие пояснений, места, которые необходимо посетить...
							.post_stats
								a.post_link.like_mod(href='#') 27
								a.post_link.view_mod(href='#') 27
								a.more_btn.recent_mod(href='#') Читать далее
			//------------------------------------------------ ##recent

		aside.sidebar
			.sidebar_section
				.map map place here
			.sidebar_section
				h3.title.weather_mod Погода в Берлине
				.widget widget place here
			.sidebar_section
				h3.title.air_mod Аэропорты
				.widget widget place here
			.sidebar_section
				h3.title.get_mod Как добраться
				ul.get_list
					li.get_item
						a.get_link.air_mod(href='#') Из Москвы
					li.get_item
						a.get_link.train_mod(href='#') Москва-Рим
					li.get_item
						a.get_link.train_mod(href='#') Экспресс Leonardo Express до вокзала Termini
					li.get_item
						a.get_link.train_mod(href='#') Скоростной поезд Frecciarossa до вокзала Неаполь
					li.get_item
						a.get_link.bus_mod(href='#') Наземный транспорт
					li.get_item
						a.get_link.ship_mod(href='#') Паром до о. Искья
		//------------------------------------------------ ##sidebar

		section.section
			h2.title Стоит посетить
			.objects
				+loop_while(5)
					.obj_wrap
						.obj_image
							img(src='i/places/berlin2.jpg')
						.obj_info
							h3.title.obj_mod Архитектура
							+link_list([
								'Музей Пикассо',
								'Ратуша Малаги',
								'Собор святого семейства',
								'Капитолий'
							], 'obj')
							a.more_btn.obj_mod(href='#') Смотреть еще
				.obj_wrap.share_mod
					.title.share_mod
						span.title_sub Хотите поделиться чем то интересным?
						span.title_sup У вас есть интересные фотографии с улиц Берлина. Поделитесь этим со всем миром!
					a.share_btn(href='#') Рассказать всем
		//------------------------------------------------ ##objects

		.content
			section.section.preview_mod
				figure.preview_image
					img.img(src='i/places/island.jpg')
					figcaption.preview_caption
						h2.title.preview_mod Острова мира
						.preview_desc
							p Выступления юных артистов стали ярким сплетением национальных традиций народов
			//------------------------------------------------ ##preview

			section.section.events_mod
				h2.title События и праздники
				.events_wrap
					+loop_while(8)
						.event
							.event_image
								img.event_i(src='i/places/event.jpg')
							h3.title.event_mod Октоберфест
							ul.event_list
								li.event_item 3 окт-2 ноя, ежегодно
									+icon('calendar', 'event_mod')
								li.event_item Германия / Берлин
									+icon('location', 'event_mod')
			//------------------------------------------------ ##events

		aside.sidebar
			.sidebar_section
				h3.title.gift_mod Что привезти?
				+link_list(['Сувенир 1', 'Сувенир 2', 'Сувенир 3'], 'gifts')
			.sidebar_section
				h3.title.todo_mod Список дел
				+link_list(['Посетить Кельнский собор', 'Покататься Чертовом колесе', 'Посетить Бранденбургские ворота'], 'todo')
			.sidebar_section
				h3.title.todo_mod Последние твиты
				article.post
					.post_author
						figure.author_avatar
							img.img(src='i/avatar.jpg')
							figcaption.author_name.twitt_mod
								span.firstname Иван
								span.lastname Иванов
								a.nickname(href='#') @vani_vi
					.post_text
						p Непридуманные истории настоящих путешественников, кадры, не требующие пояснений,	места, которые необходимо посетить, маршруты.
				a.twitter_subscribe(href='#') Подписаться
		//------------------------------------------------ ##sidebar

		section.section.stories_mod
			h2.title.stories_mod Истории посетителей
			+loop_while(3)
				article.post.story_mod
					h3.post_title Как я встретил Пикассо в самом центре Парижа
					.post_desc
						p Непридуманные истории настоящих путешественников, кадры, не требующие пояснений, места, которые необходимо посетить. Непридуманные истории настоящих путешественников, кадры, не требующие пояснений, места, которые необходимо посетить.
					a.post_link.more_btn.dark_mod(href='#') Читать далее

					.post_author
						.author_i_wrap
							img.img(src='i/avatar.jpg')
						.author_name
							span.firstname Иннокентий
							span.lastname Смактуновский
						.post_stats
							a.post_link.like_mod(href='#') 27
							a.post_link.view_mod(href='#') 27
		//------------------------------------------------ ##stories