extends _layout
include templates/_global_mixins
include templates/_global_vars
include templates/_project_mixins
include templates/_project_vars

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Discovery'}
block content_block
	main.main
		.content
			section.section.place_mod
				+place_menu([
					{name: 'flag'},
					{
						name: 'star', events: [
						{event: 'Событие 1', url: '#'},
						{event: 'Событие 2', url: '#'}
					]
					},
					{
						name: 'eye', events: [
						{event: 'Событие 3', url: '#'}
					]
					},
					{
						name: 'star', events: [
						{event: 'Событие 1', url: '#'},
						{event: 'Событие 2', url: '#'},
						{event: 'Событие 3', url: '#'}
					]
					},
					{name: 'camera'},
					{name: 'location'},
				])
				.place_wrap
					figure.place_image
						img.img(src='i/places/berlin.jpg')
						figcaption.place_caption
							h2.title.place_mod Берлин
							.section_desc
								p Духовные ценности и менталитет европейцев
					.place_desc
						p Состав воды в Кулундинском озере приближён к океанической воде. Так что купаясь в этом озере, вы осуществляете самую настоящую талассотерапию — лечение купанием в морской воде, когда организм сам, естественным образом, берет из воды недостающие ему минералы и микроэлементы и даже биологически активные вещества. Так что купаясь в этом озере, вы осуществляете. самую/настоящую
						p Состав воды в Кулундинском озере приближён к океанической воде. Так что купаясь в этом озере, вы осуществляете самую настоящую талассотерапию — лечение купанием в морской воде, когда организм сам, естественным образом, берет из воды недостающие ему минералы и микроэлементы и даже биологически активные вещества. Так что купаясь в этом озере, вы осуществляете. самую/настоящую
						p Состав воды в Кулундинском озере приближён к океанической воде. Так что купаясь в этом озере, вы осуществляете самую настоящую талассотерапию — лечение купанием в морской воде, когда организм сам, естественным образом, берет из воды недостающие ему минералы и микроэлементы и даже биологически активные вещества. Так что купаясь в этом озере, вы осуществляете. самую/настоящую
						p Состав воды в Кулундинском озере приближён к океанической воде. Так что купаясь в этом озере, вы осуществляете самую настоящую талассотерапию — лечение купанием в морской воде, когда организм сам, естественным образом.
						a.more_btn.place_mod(href='#') Читать полностью

				.place_info_wrap
					.place_info_block
						h4.title.info_mod Достопримечательности:
						+link_list(['Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)'], 'info')
					.place_info_block
						h4.title.info_mod Развлечения:
						+link_list(['Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)', 'Музей(32)', 'Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)'], 'info')
					.place_info_block
						h4.title.info_mod Отели:
						+link_list(['Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)', 'Музей(32)','Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)', 'Музей(32)','Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)', 'Музей(32)', 'Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)'], 'info')
					.place_info_block
						h4.title.info_mod Рестораны и кафе:
						+link_list(['Архитектура(23)', 'Религиозное место(88)', 'Памятник(11)', 'Достопримечательности(22)', 'Замок/крепость(10)'], 'info')
			//------------------------------------------------ ##content

			section.section.dark_mod
				h2.title.recent_mod: <strong>Последнее</strong> добавленное (всего 32)
				.recent_slider_wrap
					ul.recent_list
						+loop_while(4)
							li.recent_item
								+loop_while(4)
									article.post.recent_mod
										.post_date
											+icon('calendar-o', 'recent_mod')
											span.post_d_day 28
											span.post_d_month Ноября
											span.post_d_year 2014
										h2.post_title Красота Алтая в сентябре
										.post_tags Место: &nbsp;
											ul.tags_list
												li.tags_item
													a.tags_link(href='#') Россия
												li.tags_item
													a.tags_link(href='#') Алтай
												li.tags_item
													a.tags_link(href='#') Белокуриха
										.post_author
											.author_i_wrap
												img(src='i/avatar.jpg')
											.author_name
												span.firstname Иннокентий
												span.lastname Смактуновский
										.post_desc
											p Непридуманные истории настоящих путешественников, кадры, не требующие пояснений, места, которые необходимо посетить...
										.post_stats
											a.post_link(href='#') 27
												+icon('like', 'stat_mod')
											a.post_link(href='#') 75
												+icon('eye', 'stat_mod')
											a.more_btn.recent_mod(href='#') Читать далее
			//------------------------------------------------ ##recent

		aside.sidebar
			.sidebar_section
				.widget
					img.img(src='i/temp/map.jpg')
			.sidebar_section
				h3.title.sidebar_mod Погода в Берлине
					+icon('thermometer', 'sidebar_mod')
				.widget
					img.img(src='i/temp/weather.jpg')
			.sidebar_section.dark_mod.air_mod
				h3.title.sidebar_mod.dark_mod Аэропорты
					+icon('aircraft', 'sidebar_mod')
				.widget
					img.img(src='i/temp/air.png')
			.sidebar_section
				h3.title.sidebar_mod Как добраться
					+icon('compass', 'sidebar_mod')
				ul.get_list
					li.get_item
						a.get_link(href='#') Из Москвы
							+icon('aircraft', 'get_mod')
					li.get_item
						a.get_link(href='#') Москва-Рим
							+icon('aircraft', 'get_mod')
					li.get_item
						a.get_link(href='#') Экспресс Leonardo Express до вокзала Termini
							+icon('aircraft', 'get_mod')
					li.get_item
						a.get_link(href='#') Скоростной поезд Frecciarossa до вокзала Неаполь
							+icon('aircraft', 'get_mod')
					li.get_item
						a.get_link(href='#') Наземный транспорт
							+icon('aircraft', 'get_mod')
					li.get_item
						a.get_link(href='#') Паром до о. Искья
							+icon('aircraft', 'get_mod')
		//------------------------------------------------ ##sidebar

		section.section
			h2.title.bordered_mod Стоит посетить
			.objects
				+loop_while(5)
					.obj_wrap
						.obj_image
							img(src='i/places/berlin2.jpg')
						.obj_info
							h3.title.obj_mod Архитектура
							+link_list([
								'Музей Пикассо',
								'Ратуша Малаги',
								'Собор святого семейства',
								'Капитолий'
							], 'obj')
							a.more_btn.obj_mod(href='#') Смотреть еще
				.obj_wrap.share_mod
					.title.share_mod
						span.title_sub Хотите поделиться чем то интересным?
						span.title_sup У вас есть интересные фотографии с улиц Берлина. Поделитесь этим со всем миром!
					a.share_btn(href='#') Рассказать всем
		//------------------------------------------------ ##objects

		.content
			section.section.preview_mod
				figure.preview_image
					img.img(src='i/places/island.jpg')
					figcaption.preview_caption
						h2.title.preview_mod Острова мира
						.preview_desc
							p Выступления юных артистов стали ярким сплетением национальных традиций народов
				ul.preview_list
					each item in [1,2,3,4]
						li.preview_item
							a.preview_link(href='#')
								img.img(src='i/prev/preview0#{item}.jpg')= item
					a.more_btn.preview_mod(href='#') Еще фото
						+icon('camera', 'preview_mod')
			//------------------------------------------------ ##preview

			section.section.events_mod
				h2.title События и праздники
				.events_wrap
					+loop_while(8)
						.event
							.event_image
								img.event_i(src='i/places/event.jpg')
							h3.title.event_mod Октоберфест
							ul.event_list
								li.event_item 3 окт-2 ноя, ежегодно
									+icon('calendar', 'event_mod')
								li.event_item Германия / Берлин
									+icon('location', 'event_mod')
			//------------------------------------------------ ##events

		aside.sidebar
			.sidebar_section
				h3.title.sidebar_mod Что привезти?
					+icon('gift', 'sidebar_mod')
				+link_list(['Сувенир 1', 'Сувенир 2', 'Сувенир 3'], 'sidebar')
			.sidebar_section
				h3.title.sidebar_mod Список дел
					+icon('clipboard', 'sidebar_mod')
				+link_list(['Посетить Кельнский собор', 'Покататься Чертовом колесе', 'Посетить Бранденбургские ворота'], 'sidebar')
			.sidebar_section.dark_mod
				h3.title.sidebar_mod.dark_mod Последние твиты
					+icon('tw', 'sidebar_mod')
				article.post.twitt_mod
					.post_author.twitt_mod
						.author_i_wrap
							img(src='i/avatar.jpg')
						span.author_name.twitt_mod Иван Иванов
							a.nickname(href='#') @vani_vi
					.post_text.twitt_mod
						p Непридуманные истории настоящих путешественников, кадры, не требующие пояснений,	места, которые необходимо посетить, маршруты.
				a.subscribe_btn.twitt_mod(href='#') Подписаться
		//------------------------------------------------ ##sidebar

		section.section.stories_mod
			h2.title.stories_mod Истории посетителей
			+loop_while(3)
				article.post.story_mod
					.post_desc.story_mod
						h3.post_title.story_mod Как я встретил Пикассо в самом центре Парижа
						.post_text.story_mod
							p Непридуманные истории настоящих путешественников, кадры, не требующие пояснений, места, которые необходимо посетить. Непридуманные истории настоящих путешественников, кадры, не требующие пояснений, места, которые необходимо посетить.
						a.more_btn.obj_mod(href='#') Читать далее

					.post_author.story_mod
						.author_i_wrap.story_mod
							img.img(src='i/avatar.jpg')
						.author_name
							span.firstname Иннокентий
							span.lastname Смактуновский
							span.rating 2310
								+icon('trophy', 'rating_mod')
						.post_stats
							a.post_link.story_mod(href='#') 27
								+icon('like', 'story_mod')
							a.post_link.story_mod(href='#') 27
								+icon('camera', 'story_mod')
			a.more_btn.story_mod(href='#') Показать еще (10)
		//------------------------------------------------ ##stories