%round_image {
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
}

%inverse_link {
	text-decoration: underline;
	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

%dotted_item {
	position: relative;
	padding: 0.5rem 0 0.5rem 2rem;

	&:before {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		height: 4px;
		width: 4px;
		content: '';
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		border-radius: 50%;
		background: $color_link_base;
	}
}